@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700;800;900&family=Raleway:wght@200;400;600&display=swap');

:root {
  --dark-theme-bg: #1f2937;
  --dark-theme-text: #d4d4d4;
  --red: #b91c1c;
  --dark-text: #2e2e2e;
  --dark-gray: #525252;
  --gray: #979797;
  --neutral-gray: #737373;
  --light-gray: #fafafa;

  --border: 3px solid var(--red);
}

/* * {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
li {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: 'Lexend', sans-serif;
  color: var(--dark-text);
  background-color: var(--light-gray);
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

@keyframes slideIn {
  0% {
    translate: -100%;
  }

  100% {
    translate: 0;
  }
}

.section {
  height: fit-content;
  animation: slideIn auto;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

@keyframes scroll-indicator {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.scroll-indicator {
  z-index: 1000;
  width: 100%;
  height: 0.7rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--red);

  animation: scroll-indicator auto linear;
  animation-timeline: scroll();
  transform-origin: 0 0;
}

#link-to-top {
  display: none;
  z-index: 1000;
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 100%;
  transition: 0.3s;
}
#link-to-top img {
  display: none;
  width: 1.5rem;
  margin: 0 auto;
}

#link-to-top:hover {
  background-color: var(--red);
  stroke: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 0 1rem;
  border: 1px solid gray;
}

.section:last-child {
  margin-bottom: 3rem;
}

.header {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  position: relative;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  align-items: end;
}

.menu__item {
  position: relative;
}

.menu__item--down {
  top: 3px;
}

.menu__item--down-1 {
  top: 2px;
}

.menu__link {
  padding: 0.5rem;
  display: inline-block;
  /* width: 20px; */
  fill: #818181;
  transition: 0.2s;
}

.menu__link:hover {
  /* stroke: var(--red); */
  fill: var(--red);
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 4rem;
  margin-left: 2rem;
  width: 4rem;
}

#mobile-menu__toggle {
  opacity: 0;
}

.mobile-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--neutral-gray);
}
.mobile-menu__btn > span::before {
  content: '';
  top: -8px;
}
.mobile-menu__btn > span::after {
  content: '';
  top: 8px;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  transition-duration: 0.3s;
}

.mobile-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 18rem;
  height: fit-content;
  margin: 0;
  padding: 60px 0 30px;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: -7px 0px 20px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.mobile-menu__item {
  display: block;
  padding: 20px 20px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  /* text-decoration: none; */
  transition-duration: 0.3s;
}

.mobile-menu__item:hover {
  color: var(--light-gray);
  background-color: var(--gray);
}

#mobile-menu__toggle:checked ~ .mobile-menu__btn > span {
  transform: rotate(45deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__box {
  visibility: visible;
  right: 0;
}

.nav-desktop {
  display: none;
}

.desktop-menu__list {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.desktop-menu__link {
  transition: 0.2s;
}

.desktop-menu__link:hover {
  border-bottom: var(--border);
}

.main {
  flex: 1 0 auto;
}

.container > .hero-section {
  height: 50vh;
}

.hero-section {
  padding: 5rem 0;
}

.hero-container {
  max-width: 26rem;
}

.title__h3 {
  font-weight: 400;
  color: var(--red);
}
.hero__image {
  max-width: 13rem;
}
.title__h4 {
  font-size: 2rem;
  color: var(--neutral-gray);
}

.title__description {
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.description__two-col {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.description--left-col {
  margin: 0;
  margin-top: 1rem;
  flex: 1;
}
.description--right-col {
  margin: 0;
  flex: 1;
}

.section__title {
  padding-top: 3rem;
  margin: 0 0 1rem;
  font-size: 2rem;
  display: inline-block;
  border-bottom: var(--border);
}

.section__subtitle {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-text);
}
.subtitle--second {
  font-weight: 800;
  color: var(--dark-gray);
  margin-bottom: 1rem;
}

.section__container {
  max-height: fit-content;
}

.skills__img {
  max-width: 80px;
}

.grid__container {
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  gap: 1rem;
}

.grid__item {
  width: 100%;
  height: fit-content;
  place-self: start;
  display: flex;
  flex-direction: column;
  animation: slideIn auto;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

.hover-effect {
  position: relative;
  width: 100%;
}

.hover-effect__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease;
}
.hover-effect:hover .hover-effect__overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.hover-effect__title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  font-size: 1.3em;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}
.hover-effect:hover .hover-effect__title {
  top: 15%;
}

.hover-effect-button {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 65%;
  text-align: center;
}
.hero-button a {
  background-color: var(--red);
}
.hero-button:hover a {
  background-color: #fff !important;
  color: var(--red);
  border: var(--border);
}

.button-link-wrapper {
  width: 100%;
  transition: opacity 0.35s ease;
}
.button-link-wrapper a {
  padding: 15px 40px;
  text-align: center;

  border: var(--border);
  color: white;
  z-index: 1;
  transition: 0.3s;
}
.hover-effect:hover .hover-effect-button {
  opacity: 1;
}
.button-link-wrapper:hover a {
  background: var(--red);
}

/* --- переименовать в work из project */
.project-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 160px;

  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

.project-image:hover {
  opacity: 0.9;
}

.project__title {
  margin: 0;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.project__description {
  margin: 0;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

.item-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact__item {
  width: 7rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: var(--dark-gray);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
  transition-duration: 0.3s;
}

.contact__img-container {
  padding: 0;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__img-container > svg {
  width: 100%;
  height: 100%;
}

.contact__item:hover {
  transform: scale(1.1);
}

.footer {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  flex: 0 0 auto;
  text-align: center;
  color: var(--light-gray);
  background-color: var(--neutral-gray);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  text-decoration: underline;
}

.footer__link:hover {
  color: var(--red);
}

.footer__icon {
  margin-left: 0.7rem;
  display: inline-block;
  width: 16px;
  height: 16px;
}

/* --------- WORK PAGE ----------- */
.projects-section {
  animation: none;
}
.projects-title-page {
  width: 7rem;
  margin: 2rem auto;
  display: inline-block;
  border-bottom: var(--border);
}

.projects-subtitle {
  padding-top: 0;
  display: block;
  border: none;
  font-size: 1.2rem;
}
.text-accent {
  color: var(--red);
}

/* ? как убрать у всех списков буллеты? */
.projects-list li {
  list-style-type: none;
}
.projects-list li:before {
  content: '\203A \2002';
}
.projects-card {
  padding-top: 3rem;
  max-width: 500px;
  margin: 0 auto;
}
.button-container {
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

/* ? переименовать site-button--width и обьединить с а? (это ДИВ) */
.site-button--width {
  display: flex;
}
.site-button--width a {
  flex: 1;
}

.button-link {
  display: inline-block;
  width: 100%;
  color: var(--red) !important;
  position: relative;
}
.button-link:hover {
  color: var(--light-gray) !important;
  border-color: var(--dark-gray);
  background-color: var(--dark-gray) !important;
}

.button-red {
  color: var(--light-gray) !important;
  background-color: var(--red);
}
.button-red:hover {
  border-color: var(--dark-gray);
  background-color: var(--dark-gray) !important;
}

.projects-image {
  display: block;
  width: 100%;
  padding-top: 2rem;
}

/* --------- MEDIA ------------ */

@media (min-width: 36rem) {
  .container {
    max-width: 33rem;
    margin: auto;
    padding: 0;
  }
  .header__logo {
    margin-right: 2.5rem;
    width: 6rem;
  }
  .hero-container {
    max-width: 35rem;
  }
  .title__h3 {
    font-weight: 400;
  }
  .hero__image {
    max-width: 15rem;
  }
  .hero__title-h4 {
    font-size: 4rem;
  }
  .grid__container {
    grid-template-columns: 1fr 1fr;
  }
  #link-to-top {
    display: block;
  }
  #link-to-top img {
    display: block;
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
  .logo-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu {
    display: none;
  }
  .header__logo {
    margin-right: 1rem;
  }
  .nav-desktop {
    display: block;
  }
  .description__two-col {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
  .description__two-col--skills {
    position: relative;
    gap: 5rem;
  }
  .description--first-col {
    margin: 1rem auto 2rem;
    text-align: right;
    flex: 1;
  }
  .description--second-col {
    margin: 1rem auto 2rem;
    flex: 1;
  }
  .skills-separator {
    position: absolute;
    top: 4rem;
    background-color: var(--red);
    width: 0.2rem;
    height: 9rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 60rem;
  }
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #link-to-top {
    right: 3rem;
    bottom: 3rem;
  }
}

@media (min-width: 75rem) {
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
