/* Todo: */
/* * -- Изменить анимацию на праллакс? */
/* * -- сделать хедер фиксированным */
/* * -- разбить файл CSS на подкатегории: глобал/лайаут/сомонентс/медиа-запросы/  ресет? */

@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700;800;900&family=Raleway:wght@200;400;600&display=swap');

:root {
  /* main / accent / grey */

  --accent: #991b1b;
  --accent-dark: #7f1d1d;
  --main: #737373;
  --gray: #2e2e2e;
  --main-dark: #525252;
  --main-light: #f5f5f5;

  /* --border: 3px solid var(--accent); */
  --border: 3px solid;
  --shadow-dark: 0px 12px 30px -10px rgba(0, 0, 0, 0.8);
  --shadow-accent: 0px 12px 30px -10px rgba(153, 27, 27, 0.9);
}

/* * {
  box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

html,
body {
  height: 100%;
  font-family: 'Lexend', sans-serif;
  color: var(--gray);
  background-color: var(--main-light);
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

.svg-accent {
  stroke: var(--accent);
  fill: var(--accent);
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.animation__slide-in {
  height: fit-content;
  animation: slideIn;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
  animation-timing-function: ease-in;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animation__slide-left {
  height: fit-content;
  animation: slideLeft;
  animation-timeline: view();
  animation-range: entry 0% entry 120%;
  animation-timing-function: ease-in;
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.animation__slide-right {
  height: fit-content;
  animation: slideRight;
  animation-timeline: view();
  animation-range: entry 0% entry 200%;
  animation-timing-function: ease-in;
}

@keyframes scroll-indicator {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.scroll-indicator {
  display: none;
}

@supports (animation-timeline: scroll()) {
  .scroll-indicator {
    display: block;
    z-index: 1000;
    width: 100%;
    height: 0.2rem;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--accent);
    animation: scroll-indicator auto linear;
    animation-timeline: scroll();
    transform-origin: 0 0;
  }
}

#link-to-top {
  display: none;
  z-index: 1000;
  width: 2rem;
  height: 2rem;
  position: fixed;
  right: 2.2rem;
  bottom: 2.2rem;
  font-size: 2rem;
  text-align: center;
  transition: 0.3s;
}
#link-to-top img {
  display: none;
  width: 1.5rem;
  margin: 0 auto;
}

#link-to-top:hover {
  background-color: var(--accent);
  fill: var(--main-light);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 0 1rem;
}

.background {
  width: 100%;
  height: auto;
  background-image: url('../assets/img/3024-4032_milad-fakurian-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

.section:last-child {
  margin-bottom: 3rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;

  z-index: 1000;
}

.header__container {
  background-color: rgba(245, 245, 245, 0.7);
  box-shadow: 0 0 55px 30px rgba(245, 245, 245, 0.8);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  position: relative;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  align-items: end;
}

.menu__item {
  position: relative;
}

.menu__item--down {
  top: 3px;
}

.menu__item--down-1 {
  top: 2px;
}

.menu__link {
  padding: 0.5rem;
  display: inline-block;
  fill: var(--main-dark);
  transition: 0.2s;
}

.menu__link:hover {
  fill: var(--accent);
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-right: 4rem;
  margin-left: 2rem;
  width: 4rem;
}

#mobile-menu__toggle {
  opacity: 0;
}

.mobile-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--main);
}
.mobile-menu__btn > span::before {
  content: '';
  top: -8px;
}
.mobile-menu__btn > span::after {
  content: '';
  top: 8px;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  transition-duration: 0.3s;
}

.mobile-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 18rem;
  height: fit-content;
  margin: 0;
  padding: 60px 0 30px;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: var(--shadow-dark);
  transition-duration: 0.3s;
}

.mobile-menu__item {
  display: block;
  padding: 20px 20px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  transition-duration: 0.3s;
}

.mobile-menu__item:hover {
  color: var(--main-light);
  background-color: var(--main);
}

#mobile-menu__toggle:checked ~ .mobile-menu__btn > span {
  transform: rotate(45deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__box {
  visibility: visible;
  right: 0;
}

.nav-desktop {
  display: none;
}

.desktop-menu__list {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.desktop-menu__link {
  transition: 0.2s;
}

.desktop-menu__link:hover {
  border-bottom: var(--border) var(--accent);
}

.main {
  flex: 1 0 auto;
}

.container > .hero-section {
  height: calc(100vh - 6rem);
}

.hero-section {
  margin-top: 6rem;
  padding: 5rem 0;
}

.hero-container {
  max-width: 26rem;
}

.title__h3 {
  font-weight: 400;
  color: var(--accent);
}
.hero__image {
  max-width: 13rem;
}
.title__h4 {
  font-size: 2rem;
  color: var(--main);
}

.title__description {
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.description__two-col {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.description--left-col {
  margin: 0;
  margin-top: 1rem;
  flex: 1;
}
.description--right-col {
  margin: 0;
  flex: 1;
}

.section__title {
  /* padding-top: 3rem; */
  margin: 0 0 1rem;
  font-size: 2rem;
  display: inline-block;
  border-bottom: var(--border) var(--accent);
}

.section__subtitle {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--gray);
}
.subtitle--second {
  font-weight: 800;
  color: var(--main-dark);
  margin-bottom: 1rem;
}

.section__container {
  max-height: fit-content;
}

.skills__img {
  max-width: 80px;
}

.grid__container {
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  gap: 1rem;
}

.grid__item {
  width: 100%;
  height: fit-content;
  place-self: start;
  display: flex;
  flex-direction: column;
  animation: slideIn auto;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

.hover-effect {
  position: relative;
  width: 100%;
  box-shadow: var(--shadow-dark);
}

.hover-effect__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease;
}
.hover-effect:hover .hover-effect__overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.hover-effect__title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  font-size: 1.3em;
  text-align: center;
  color: var(--main-light);
  z-index: 1;
  transition: top 0.5s ease;
}
.hover-effect:hover .hover-effect__title {
  top: 15%;
}

.hover-effect-button {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 65%;
  text-align: center;
}
.hero-button a {
  /* background-color: var(--accent); */
  color: var(--accent) !important;
  background-color: none !important;
  text-transform: uppercase;
}

.hero-button:hover a {
  color: var(--main-light) !important;
  background-color: var(--accent-dark) !important;
  border: var(--border) var(--accent-dark);
  box-shadow: var(--shadow-accent);
}

.button-link-wrapper {
  width: 100%;
  transition: opacity 0.35s ease;
}
.button-link-wrapper a {
  padding: 15px 40px;
  text-align: center;

  border: var(--border) var(--accent);
  color: var(--main-light);
  z-index: 1;
  transition: 0.3s;
}
.hover-effect:hover .hover-effect-button {
  opacity: 1;
}
.button-link-wrapper:hover a {
  background: var(--accent);
}

/* here */
.button-link {
  display: inline-block;
  width: 100%;
  color: var(--accent) !important;
  position: relative;
}
.button-link:hover {
  color: var(--main-light) !important;
  border-color: var(--accent-dark);
  background-color: var(--accent-dark) !important;
  box-shadow: var(--shadow-accent);
}

.button-red {
  color: var(--main-light) !important;
  background-color: var(--accent);
}
.button-red:hover {
  border-color: var(--accent-dark);
  background-color: var(--accent-dark) !important;
}

.work-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 160px;

  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

.work-image:hover {
  opacity: 0.9;
}

.project__title {
  margin: 0;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.project__description {
  margin: 0;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

.item-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.contact__item {
  width: 7rem;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  color: var(--main-dark);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: end;
  transition-duration: 0.3s;
}

.contact__img-container {
  padding: 0;
  width: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__img-container > svg {
  width: 100%;
  height: 100%;
}

.contact__item:hover {
  transform: scale(1.1);
}

.footer {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  flex: 0 0 auto;
  text-align: center;
  color: var(--main-light);
  background-color: var(--main);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  text-decoration: underline;
}

.footer__link:hover {
  color: var(--accent);
}

.footer__icon {
  margin-left: 0.7rem;
  display: inline-block;
  width: 16px;
  height: 16px;
}

/* --------- PROJECTS PAGE ----------- */
.projects__section-wrapper {
  padding-top: 1.5rem;
}

.projects-section:first-child {
  margin-top: 6rem;
}

.projects-section {
  animation: none;
  padding-bottom: 3rem;
}
.projects-title-page {
  width: 7rem;
  margin: 2rem auto;
  display: inline-block;
  border-bottom: var(--border) var(--accent);
}

.projects-subtitle {
  display: block;
  border: none;
  font-size: 1.2rem;
}
.text-accent {
  color: var(--accent);
}

.projects-list li:before {
  content: '\203A \2002';
}
.projects-card {
  padding-top: 3rem;
  max-width: 500px;
  margin: 0 auto;
}
.button-container {
  width: 100%;
  text-align: center;

  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.wrapper--flex {
  display: flex;
}

.projects-image {
  display: block;
  margin: 0 auto;
  width: 30rem;
  margin-top: 1rem;
  box-shadow: var(--shadow-dark);
}

.section-name {
  display: inline-block;
  margin-bottom: 0.4rem;
  text-transform: uppercase;
  border-bottom: var(--border) var(--accent);
}

p.section-name ~ p {
  margin-top: 0;
}

/* -----here experiment ----- */

.projects__accordion {
  padding-top: 2rem;
}

/* --------- MEDIA ------------ */

@media (min-width: 36rem) {
  .container {
    max-width: 33rem;
    margin: auto;
    padding: 0;
  }
  .header__logo {
    margin-right: 2.5rem;
    width: 6rem;
  }
  .hero-container {
    max-width: 35rem;
  }
  .title__h3 {
    font-weight: 400;
  }
  .hero__image {
    max-width: 15rem;
  }
  .hero__title-h4 {
    font-size: 4rem;
  }
  .grid__container {
    grid-template-columns: 1fr 1fr;
  }
  #link-to-top {
    display: block;
  }
  #link-to-top img {
    display: block;
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
  .logo-container {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .burger-menu {
    display: none;
  }
  .header__logo {
    margin-right: 1rem;
  }
  .nav-desktop {
    display: block;
  }
  .description__two-col {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
  .description__two-col--skills {
    position: relative;
    gap: 5rem;
  }
  .description--first-col {
    margin: 1rem auto 2rem;
    text-align: right;
    flex: 1;
  }
  .description--second-col {
    margin: 1rem auto 2rem;
    flex: 1;
  }
  .skills-separator {
    position: absolute;
    top: 4rem;
    background-color: var(--accent);
    width: 0.2rem;
    height: 9rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 60rem;
  }
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #link-to-top {
    right: 3rem;
    bottom: 3rem;
  }
}

@media (min-width: 75rem) {
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
