@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;600;700;800;900&family=Raleway:wght@200;400;600&display=swap');

:root {
  --dark-theme-bg: #1f2937;
  --dark-theme-text: #d4d4d4;
  --red: #b91c1c;
  --dark-text: #2e2e2e;
  --dark-gray: #525252;
  --gray: #979797;
  --neutral-gray: #737373;
  --light-gray: #fafafa;

  --border: 3px solid var(--red);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

/* @media (min-width: 36rem) {

}

@media (min-width: 48rem) {

}

@media (min-width: 62rem) {

}

@media (min-width: 75rem) {

} */

html,
body {
  height: 100%;
  font-family: 'Lexend', sans-serif;
  color: var(--dark-text);
  background-color: var(--light-gray);
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  padding: 0 1rem;
  border: 1px solid gray;
}

@media (min-width: 36rem) {
  .container {
    max-width: 33rem;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 48rem) {
  .container {
    max-width: 45rem;
  }
}

@media (min-width: 62rem) {
  .container {
    max-width: 60rem;
  }
}

/* @media (min-width: 75rem) {
  .container {
    max-width: 71rem;
  }
} */

.header {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 3rem;
  width: 4rem;
}
@media (min-width: 36rem) {
  .header__logo {
    margin-right: 0;
    width: 6rem;
  }
}

@media (min-width: 36rem) {
  .nav-mobile {
    display: none;
  }
}

#mobile-menu__toggle {
  opacity: 0;
}

.mobile-menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--neutral-gray);
}
.mobile-menu__btn > span::before {
  content: '';
  top: -8px;
}
.mobile-menu__btn > span::after {
  content: '';
  top: 8px;
}

.mobile-menu__btn > span,
.mobile-menu__btn > span::before,
.mobile-menu__btn > span::after {
  transition-duration: 0.3s;
}

.mobile-menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 18rem;
  height: fit-content;
  margin: 0;
  padding: 60px 0 30px;
  list-style: none;
  text-align: center;
  background-color: #eceff1;
  box-shadow: -7px 0px 20px rgba(0, 0, 0, 0.1);
  transition-duration: 0.3s;
}

.mobile-menu__item {
  display: block;
  padding: 20px 20px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.3s;
}

.mobile-menu__item:hover {
  color: var(--light-gray);
  background-color: var(--gray);
}

#mobile-menu__toggle:checked ~ .mobile-menu__btn > span {
  transform: rotate(45deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#mobile-menu__toggle:checked ~ .mobile-menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#mobile-menu__toggle:checked ~ .mobile-menu__box {
  visibility: visible;
  right: 0;
}

.nav-desktop {
  display: none;
}

@media (min-width: 36rem) {
  .nav-desktop {
    display: block;
  }
}

.desktop-menu__list {
  padding: 0 1rem;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.desktop-menu__link {
  text-decoration: none;
  transition: 0.2s;
}
.desktop-menu__link:hover {
  border-bottom: var(--border);
}

.main {
  flex: 1 0 auto;
}

.container > .hero-section {
  height: 50vh;
}

.hero-section {
  padding: 10rem 0;
}

.hero-container {
  max-width: 26rem;
}
@media (min-width: 36rem) {
  .hero-container {
    max-width: 35rem;
  }
}

.title__h3 {
  font-weight: 400;
  color: var(--red);
}
.hero__image {
  max-width: 13rem;
}
.title__h4 {
  font-size: 2rem;
  line-height: 3.9rem;
  color: var(--neutral-gray);
  margin-bottom: 0.5rem;
}

.title__description {
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

@media (min-width: 36rem) {
  .title__h3 {
    font-weight: 400;
  }
  .hero__image {
    max-width: 15rem;
  }
  .title__h4 {
    font-size: 4rem;
  }
}

.description__about {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.description--left-col {
  margin: 0;
  margin-top: 1rem;
  flex: 1;
}
.description--right-col {
  margin: 0;
  flex: 1;
}

@media (min-width: 48rem) {
  .description__about {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
  }
  .description--left-col {
    margin: 1rem auto 2rem;
    text-align: right;
    flex: 1;
  }
  .description--right-col {
    margin: 1rem auto 2rem;
    flex: 1;
  }
}

.section__title {
  padding-top: 3rem;
  /* margin: 0 1rem; */
  margin: 0 0 1rem;

  font-size: 2rem;
  display: inline-block;
  border-bottom: var(--border);
}

.section__subtitle {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--dark-text);
}
.subtitle--about {
  font-weight: 800;
  color: var(--dark-gray);
  text-align: center;
}

@keyframes slideIn {
  0% {
    translate: -100%;
  }

  100% {
    translate: 0;
  }
}

.section {
  height: fit-content;
  animation: slideIn auto;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

@keyframes scroll-indicator {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.scroll-indicator {
  z-index: 1000;
  width: 100%;
  height: 0.7rem;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--red);

  animation: scroll-indicator auto linear;
  animation-timeline: scroll();
  transform-origin: 0 0;
}

#link-to-top {
  display: none;
  z-index: 1000;
  width: 2rem;
  height: 1.7rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  text-decoration: none;
  font-size: 2rem;
  text-align: center;
  border: 2px solid var(--red);
  transition: 0.3s;
}
#link-to-top img {
  display: none;
  width: 1.5rem;
  margin: 0 auto;
}
#link-to-top:hover {
  background-color: var(--red);
}

@media (min-width: 36rem) {
  #link-to-top {
    display: block;
  }
  #link-to-top img {
    display: block;
  }
}

@media (min-width: 62rem) {
  #link-to-top {
    right: 3rem;
    bottom: 3rem;
  }
}

.section__container {
  max-height: fit-content;
}

.grid__container {
  padding: 2rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;

  gap: 1rem;
}
@media (min-width: 36rem) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 62rem) {
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 75rem) {
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* @keyframes slideUp {
  0% {
    translate: 0 -100%;
  }

  100% {
    translate: 0 0;
  }
} */

.grid__item {
  width: 100%;
  height: fit-content;

  place-self: start;

  display: flex;
  flex-direction: column;
  /* background-color: var(--dark-theme-text); */

  /* ------- */
  animation: slideIn auto;
  animation-timeline: view();
  animation-range: entry 0% entry 100%;
}

.hover-effect {
  position: relative;
  width: 100%;
}

.hover-effect__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.5s ease;
}
.hover-effect:hover .hover-effect__overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.hover-effect__title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 40%;
  font-size: 1.3em;
  text-align: center;
  /* text-transform: uppercase; */
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
}
.hover-effect:hover .hover-effect__title {
  top: 20%;
}

.hover-effect-button {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 65%;
  text-align: center;
}
.hero-button a {
  background-color: var(--red);
}
.hero-button:hover a {
  background-color: #fff !important;
  color: var(--red);
  border: var(--border);
}

.site-button {
  width: 100%;
  transition: opacity 0.35s ease;
}
.site-button a {
  text-decoration: none;
  padding: 15px 40px;
  text-align: center;

  border: var(--border);
  color: white;
  z-index: 1;
  transition: 0.3s;
}
.hover-effect:hover .hover-effect-button {
  opacity: 1;
}
.site-button:hover a {
  background: var(--red);
}

.project-image {
  object-fit: cover;
  object-position: top;
  width: 100%;
  max-height: 160px;

  opacity: 1;
  transition: opacity 124ms linear, transform 124ms linear;
}

.project-image:hover {
  opacity: 0.9;
  /* transform: scale(1.05); */
}

.project__title {
  margin: 0;
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.project__description {
  margin: 0;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
}

.footer {
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
  flex: 0 0 auto;
  text-align: center;
  color: var(--light-gray);
  background-color: var(--neutral-gray);
}
